# deploy.yml
name: Auto Deploy & Restart Bot

on:
  push:
    branches:
      - main # Hanya jalankan ketika ada push ke branch 'main'

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: Checkout Kode Bersih
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: npm install

    - name: Install Dependencies & Restart PM2 Service
      shell: powershell
      run: |
        # 1. Masuk ke folder proyek bot WA Anda
        cd D:\Pengkodingan\whatsapp-bot-uqi
        
        pm2 restart bot-absen
        
        # 6. Simpan konfigurasi
        & pm2 save