# deploy.yml
name: Auto Deploy & Restart Bot

on:
  push:
    branches:
      - main # Hanya jalankan ketika ada push ke branch 'main'

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: Checkout Kode Bersih
      uses: actions/checkout@v4

    - name: Set Environment Path (Minimalis)
      shell: powershell 
      run: |
        # Tambahkan Path NPM global ke PATH (agar npm ditemukan oleh Runner)
        $npmGlobalPath = "$env:APPDATA\npm"
        $env:Path = "$npmGlobalPath;$env:Path"
        Write-Host "PATH UPDATED."

    - name: Install Dependencies & Restart PM2 Service
      shell: powershell
      run: |
        # 1. Masuk ke folder proyek bot WA Anda
        cd D:\Pengkodingan\whatsapp-bot-uqi
        
        # 2. Instal semua dependensi proyek (termasuk PM2 lokal untuk keandalan)
        npm install
        
        # 3. Definisikan alias PM2 dari instalasi lokal
        $PM2 = ".\node_modules\.bin\pm2.cmd"
        pm2 restart bot-absen
        
        # 6. Simpan konfigurasi
        & pm2 save